body, html  {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.ngx-pagination-range-dropdown-button {
    width: 70px;
    i {
        float: right;
        margin-top: 4px;
    }
    .ngx-dropdown.ngx-menu {
        padding: 0!important;
        width: 70px!important;
    }
}
    