<div class="container-fluid" style="padding-top: 37px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['']">Inicio</a></li>
            <li class="breadcrumb-item"><a href="expediente">Expedientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ficha</li>
        </ol>
    </nav>
    <ng-container *ngIf="formData">
        <form (ngSubmit)="saveData()" [formGroup]="formData">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Nº Exp: {{ expediente.noExpediente }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Ref.Ext.1:</label>
                                    <input type="text" class="form-control" placeholder="referencia externa..." formControlName="referenciaExterna">
                                </div>
                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Ref.Ext.2:</label>
                                    <input type="text" class="form-control" placeholder="referencia externa..." formControlName="referencia2">
                                </div>
                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Ref.Judicial:</label>
                                    <input type="text" class="form-control" placeholder="referencia externa..." formControlName="referenciaJudicial">
                                </div>

                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Inicio:</label>
                                    <input type="text" class="form-control" value="{{ expediente.inicio | date}}" readonly>
                                </div>
                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Fin:</label>
                                    <input type="text" class="form-control" value="{{ expediente.fin | date}}" readonly>
                                </div>
                                <div class="col-auto col-2">
                                    <label for="finPrevisto" class="form-label">Fin Prev.:</label>
                                    <input type="text" class="form-control" value="{{ expediente.finPrevisto | date}}" readonly>
                                </div>

                                <div class="col-auto col-8">
                                    <label for="referenciaExterna" class="form-label">Cliente / Oficina:</label>
                                    <select formControlName="idClienteOficina" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Selecciona Oficina</option>
                                        <option *ngFor="let item of oficinas" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-2">
                                    <label for="referenciaExterna" class="form-label">Tipo Área:</label>
                                    <select formControlName="idTipoArea" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione un elemento</option>
                                        <option *ngFor="let item of tipoArea" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-2">
                                    <label for="refKmaleon" class="form-label">Ref.Kmaleon:</label>
                                    <input type="text" class="form-control" formControlName="refKmaleon" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto col-6">
                                    <label for="idAbogado" class="form-label">Abogado:</label>
                                    <select formControlName="idAbogado" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Selecciona Abogado</option>
                                        <option *ngFor="let item of abogados" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-6">
                                    <label for="idPagador" class="form-label">Pagador:</label>
                                    <select formControlName="idPagador" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of pagadores" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>


                                <div class="col-auto col-7">
                                    <label for="idProcurador" class="form-label">Procurador:</label>
                                    <select formControlName="idProcurador" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of procuradores" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-5">
                                    <label for="gestorCliente" class="form-label">Gestor Cliente:</label>
                                    <input type="text" class="form-control" formControlName="gestorCliente">
                                </div>

                                <div class="col-auto col-4">
                                    <label for="idSubTipoProcedimiento" class="form-label">Subtipo:</label>
                                    <select formControlName="idSubTipoProcedimiento" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of subTipoProcedimiento" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <!-- <div class="col-auto col-8">
                                    <label for="idProcurador" class="form-label">Procurador:</label>
                                    <select formControlName="idProcurador" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of procuradores" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div> -->

                                <div class="col-auto col-8">
                                    <label for="idJuzgado" class="form-label">Juzgado:</label>
                                    <select formControlName="idJuzgado" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of juzgados" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-2">
                                    <label for="noAuto" class="form-label">No Auto:</label>
                                    <input type="text" class="form-control" formControlName="noAuto">
                                </div>

                                <div class="col-auto col-5">
                                    <label for="idPartidoJudicial" class="form-label">Partido Judicial:</label>
                                    <select formControlName="idPartidoJudicial" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of partidosJudiciales" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-auto col-5">
                                    <label for="idCartera" class="form-label">Cartera:</label>
                                    <select formControlName="idCartera" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of carteras" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>

                                <div class="col-auto col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="servicioIntegral" formControlName="servicioIntegral">
                                        <label class="form-check-label" for="servicioIntegral">Servicio Integral</label>
                                    </div>
                                </div>

                                <div class="col-auto col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="inactivoInterno">
                                        <label class="form-check-label" for="inactivoInterno">Inactivo Int.</label>
                                    </div>
                                </div>
                                <div class="col-auto col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="esRelevante">
                                        <label class="form-check-label" for="esRelevante">Relevante</label>
                                    </div>
                                </div>
                                <div class="col-auto col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="esConfidencial">
                                        <label class="form-check-label" for="esConfidencial">Confidencial</label>
                                    </div>
                                </div>
                                <div class="col-auto col-4">
                                    <label for="idVeniadoHitoFacturacion" class="form-label">Venia/Hito:</label>
                                    <select formControlName="idVeniadoHitoFacturacion" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option [ngValue]="null" disabled>Seleccione...</option>
                                        <option *ngFor="let item of hitosFacturacion" [ngValue]="item.id">
                                            {{item.nombre}}</option>
                                    </select>
                                </div>

                                <div class="col-auto col-10">
                                    <label for="avisoImportante" class="form-label">Aviso Importante:</label>
                                    <input type="text" class="form-control" formControlName="avisoImportante">
                                </div>
                                <div class="col-auto col-2">
                                    <label for="origen" class="form-label">Origen:</label>
                                    <input type="text" class="form-control" formControlName="origen" readonly>
                                </div>

                                <div class="col-auto col-3">
                                    <label for="nic" class="form-label">NIC:</label>
                                    <input type="text" class="form-control" formControlName="nic">
                                </div>
                                <div class="col-auto col-3">
                                    <label for="deudaFinal" class="form-label">Importe Demanda:</label>
                                    <input type="text" class="form-control" formControlName="deudaFinal">
                                </div>
                                <div class="col-auto col-3">
                                    <label for="fechaCierre" class="form-label">F. Cierre:</label>
                                    <input type="text" class="form-control" value="{{ expediente.fechaCierre | date}}" readonly>
                                </div>
                                <!-- <div class="col-auto col-3">
                                    <label for="fechaCargaAppCliente" class="form-label">F.Carga Cliente 123:</label>
                                    <input type="date" class="form-control" formControlName="fechaCargaAppCliente">
                                </div> -->

                                <!-- <div class="col-auto col-3">
                                    <label for="fechaCargaAppCliente" class="form-label">F.Carga Cliente 3:</label>
                                    <input type="text" class="form-control" formControlName="fechaCargaAppCliente" value="{{ expediente.fechaCargaAppCliente | date:'yyyy-MM-dd' }}" readonly>
                                </div> -->

                                <div class="col-auto col-3">
                                    <label for="fechaCargaAppCliente" class="form-label">F.Carga Cliente:</label>
                                    <input type="text" class="form-control mb-3" placeholder="fecha..." bsDatepicker formControlName="fechaCargaAppCliente" />
                                </div>




                                <!--  -->
                                <!-- <div class="mb-3">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="expediente.fechaCargaAppCliente" ngbDatepicker #d="ngbDatepicker">
                                        <button class="input-group-text" type="button" (click)="d.toggle()">
                                            <i class="feather icon-calendar icon-md text-muted"></i>
                                        </button>
                                    </div>
                                </div> -->


                            </div>





                        </div>
                        <div class="card-footer text-muted d-md-flex justify-content-md-end">
                            <a class="btn btn-outline-secondary px-4" href="expediente" style="margin-right: 8px;">Cancelar</a>
                            <button type="submit" class="btn btn-outline-success px-4">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="card-estado-actual" class="card">
                        <div class="card-header">
                            <div class="row">
                                <h6 class="card-title mb-0 col-8">{{ estadoActual.tipoEstado.nombre }}</h6>
                                <div class="card-title mb-0 col-4 text-end">{{ estadoActual.fecha | date: 'dd/MM/yyyy' }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <expediente-nota-list [idExpediente]="expediente.idExpediente"></expediente-nota-list>
                        </div>
                    </div>

                    <expediente-data-hipotecario *ngIf="expediente.idTipoExpediente == 1" [idExpediente]="expediente.idExpediente"></expediente-data-hipotecario>

                    <expediente-data-alquiler *ngIf="expediente.idTipoExpediente == 5" [idExpediente]="expediente.idExpediente" [events]="eventsSubject.asObservable()">
                    </expediente-data-alquiler>

                    <!-- 
                    <child > </child>   
                     -->

                    <!-- <pre>{{ expediente | json }}</pre> -->
                    <!--  <hr>  <expediente-nota-list [idExpediente]="expediente.idExpediente"></expediente-nota-list> -->

                </div>
            </div>
        </form>

        <div class="row mt-2">
            <div class="col-12">
                <tabset>
                    <tab heading="Estados" id="tab1">
                        <expediente-estado-list [idExpediente]="expediente.idExpediente"></expediente-estado-list>
                    </tab>
                    <tab heading="Deudores">
                        <expediente-deudor-list [idExpediente]="expediente.idExpediente"></expediente-deudor-list>
                    </tab>
                    <tab heading="Inmuebles">Basic content 2</tab>
                </tabset>
            </div>
        </div>






    </ng-container>
</div>