<!-- <div class="main-wrapper">
    <app-navbar></app-navbar>  
    <div class="page-wrapper">  
      <div class="page-content">  
        <div *ngIf="isLoading" class="spinner-wrapper">
          <div class="spinner">Loading...</div>
        </div>  
        <div contentAnimate *ngIf="!isLoading">
          <router-outlet></router-outlet>
        </div>  
      </div>
      <app-footer></app-footer>
    </div>
  </div>
 -->

<div class="main-wrapper">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Solvtio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown" z-index="100000">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Nomenclador</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="caracteristicabase">Caracteristicas</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="caracteristicabase">Caracteristicas Base</a></li>
                                <li><a class="dropdown-item" href="caracteristicabase/byGroup/Pais">CB - Paises</a></li>
                                <li><a class="dropdown-item" href="caracteristicabase/byGroup/Tipo-Resolucion-Judicial">CB - Resolución
                                        Judicial</a></li>
                                <li><a class="dropdown-item" href="caracteristicabase/byGroup/Empleado-Tipo-Contrato">CB
                                        - Empleado Contrato</a></li>
                                <li><a class="dropdown-item" href="caracteristicabase/byGroup/Inmueble-GestionadoPor">CB
                                        - Inm.Gestionado X</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Expedientes</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="expediente">Todos</a></li>
                                <li><a class="dropdown-item" href="expediente/alquiler">Alquiler</a></li>
                                <li><a class="dropdown-item" href="expediente/hipotecario">Hipotecarios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dashboards</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="dashboard/1">KPIs</a></li>
                                <li><a class="dropdown-item" href="expediente/alquiler">Alquiler</a></li>
                                <li><a class="dropdown-item" href="expediente/hipotecario">KPIs</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
                                <li><a class="dropdown-item" href="dashboard">KPIs</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" autocomplete="off" (ngSubmit)="buscarExpediente( forma )" #forma="ngForm">

                        <!--#forma="NgForm" (submit)="buscarExpediente(new)"
                     -->
                        <input class="form-control me-2" type="search" placeholder="Nº Exp. a buscar" aria-label="Search" name="noExp" ngModel>
                        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="horizontal-menu">horizontal-menu</div>
    </header>



    <main class="flex-shrink-0">

        <!-- <div class="horizontal-menu">horizontal-menu</div> -->


        <router-outlet></router-outlet>
    </main>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">2022 © Solvtio System.</span>
    </div>
</footer>

<!-- 
<footer class="footer border-top">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between py-3 small">
      <p class="text-muted mb-1 mb-md-0">Copyright © 2022 <a href="https://www.nobleui.com" target="_blank">NobleUI</a>.</p>
      <p class="text-muted">Handcrafted With <i class="feather icon-heart mb-1 text-primary ms-1 icon-sm"></i></p>
    </div>
  </footer> -->